@use'var' as v;

.gabarit {
    width: 61.5%;
    margin: auto;
}
.none{
    display: none;
}
.green-button{
    background: linear-gradient(v.$button-color-primary, v.$button-color-secondary);
    color:v.$main-color;
    border-style: none;
}
%green-button-header{
    background: linear-gradient(rgba(78, 152, 79, 0.6), rgba(89, 180, 89, 0.6));
}
.padding{
    padding-bottom:1rem;
}