main {
    aside {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
    }

    article {
        display: flex;
        figure{
        margin-right: 3vw;
        }
        section h2, section p, section em{
            margin-bottom: 1vh;
        }
    }
    
    section{
        display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    button{
        width:25%;
        height: 3vh;
    }
    }
}