main {
    aside {
        display: flex;
        justify-content: space-between;
    }

    article {
        display: flex;
    }
    
    section{
        display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    button{
        width:25%;
        height: 3vh;
    }
    }
}