main {
    aside {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
    }

    article {
        display: flex;
        margin-bottom: 4vh;

        figure {
            margin-right: 3vw;
            display: flex;
            align-items: center;
        }

        i {
            cursor: pointer;
        }

        section h2,
        section p,
        section em {
            margin-bottom: 1vh;
        }
    }

    section {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        button {
            width: 25%;
            height: 3vh;
        }
    }
}